language: python
python:
  - 2.7
install:
  - curl -O -s http://googleappengine.googlecode.com/files/google_appengine_1.7.5.zip && unzip -q google_appengine_1.7.5.zip
  - pip install .
script: PYTHONPATH=google_appengine:google_appengine/lib/yaml/lib python setup.py test
